name: PR Check
on:
  pull_request: {}
  push:
    branches:
    - master

jobs:
  lint:
    name: Run static checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: docker://quay.io/cilium/image-maker:1755027480-74de989@sha256:be90a4b1ccb7553e54f8eb8224a82a5f886cdbd6057dafc9d36205615f46d696
        name: Run make lint
        with:
          entrypoint: sh
          args: -c "git config --global --add safe.directory /github/workspace && make lint"
